.border {
  flex: 1 1 25%;
  border: solid #ed3742 1px;
  /* border-top: none; */
  position: relative;
  margin-bottom: 5rem;
  min-height: 210px;
  max-height: 185px;
}

.subHeading {
  background-color: #fff;
  inline-size: 225px;
  position: relative;
  left: 50%;
  top: -15px;
  transform: translateX(-50%);
  line-height: 30px;
  text-transform: uppercase;
  font-size: 20px;
  color: #ed3742;
}

.content {
  font-weight: 500;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  white-space: normal;
}

.contentWinner {
  margin-top: -10px;
  margin-bottom: 10px;
  font-weight: 650;
}

.contentFounders {
  font-size: 0.8rem;
  font-style: italic;
}

.btn {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 3px;
  background: #c12029;
  color: #fff;
  overflow: hidden;
  display: inline-block;
  text-transform: uppercase;
  line-height: 30px;
  border: #c12029;
  border-radius: 4px;
  padding: 0.5rem;
}

.absolute {
  bottom: -25px;
  position: absolute;
}

.btn:hover {
  background: #c12029;
  color: #323333;
  border: #c12029;
}

.btn:focus {
  background-color: #c12029;
}

@media (max-width: 900px) {
  .btn {
    font-size: 15px;
  }
  .border {
    max-height: fit-content;
  }
}

@media (max-width: 597px) {
  .border {
    min-height: 250px;
  }
}
